body {
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgb(29, 119, 236);
}
header {
  display: grid;
  padding: 15px 35px;
  background-color: #24292e;
  color: white;
  grid-template-columns: 40px 1fr 300px;
}
header img {
  float: left;
  padding: 0px;
}
header ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
header li {
  margin-top: 10px;
  list-style-type: none;
  float: left;
}
header a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}
.nav-right {
  float: right;
}
.nav-right #search {
  width: 200px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #293142;
}
#mini {
  display: none;
}
.signUP {
  width: 550px;
  margin: auto;
  text-align: center;
}
.signUP p {
  font-size: 11.5px;
  color: rgb(100, 100, 100);
}
.signUP h2 {
  color: rgb(100, 100, 100);
  font-size: 15px;
  margin: 60px 0px 10px;
}
.signUP h1 {
  margin: 0px 0px 70px;
  font-size: 45px;
}
article {
  text-align: left;
}
article h3 {
  font-size: 15px;
  margin: 20px 0px 10px;
}
article .edt {
  width: 100%;
  padding: 8px 0px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
label {
  color: rgb(100, 100, 100);
  font-size: 14px;
}
article img {
  margin: 10px 0px 40px;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid lightgray;
}
article .btn {
  display: block;
  padding: 15px 0px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: rgb(82, 160, 250);
}
.menu {
  margin: 100px 30px 70px;
  display: grid;
  grid-template-columns: 100px 1fr;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu h1 {
  margin-left: 30px;
}
.menu nav {
  float: right;
  display: grid;
  grid-template-columns: 1fr 200px 200px 200px 200px;
}
.menu ul {
  margin: 0px 10px;
  list-style: none;
}
.menu li {
  padding: 10px 0px;
  font-size: 14px;
}
@media screen and (max-width: 1023px) {
  body * {
    display: none;
  }
  #mini {
    display: block;
    margin-top: 50px;
    text-align: center;
  }
}
